.faq-area {
  width: 100%;
  height: 700px;
  padding: 90px 0 72px;

  .faq-wrapper {
    .faq-section-heading {
      width: 45%;
      margin: 0 auto;
    }

    .faq-section-body {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      .tablist-question {
        .hide {
          display: none;
        }
        .card {
          cursor: pointer;
          width: 540px;
          margin: 0 0 20px;
          border-radius: 10px;
          background: #fff;
          box-shadow: 0px 0px 15px 0px rgb(52 69 199 / 40%);
          border: 1px solid rgba(0, 0, 0, 0.125);
          transition: 0.5s ease-in-out;

          .collapse.show,
          .card-body {
            margin-top: -10px;
            background-color: #2273f8;
            color: #fff;
            border-radius: 0 0 10px 10px;
            transition: 0.5s;
            font-size: 14px;
            line-height: 24px;
            padding: 1.25rem;
          }

          .active {
            background: #2273f8 !important;
            color: #fff;
          }

          .card-header {
            padding: 0.75rem 1.25rem;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 15px 0px rgb(52 69 199 / 40%);
            transition: 0.5s;
            position: relative;

            &:hover {
              background: #2273f8;
              color: #fff;
            }

            h5 {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 18px;
              font-weight: 500;
              line-height: 28px;

              .card-icon {
                display: flex;
                justify-content: space-between;
                align-items: center;
                svg {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
      }
      .faq-img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 300px;
        }
      }
    }
  }
}
