* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.stop-scrolling {
  overflow: hidden !important;
}

.mt-4 {
  margin-top: 40px;
}
.affix {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 10px #ccc;
}
.affix .navbar .navbar-list .navbar-item a {
  color: #000 !important;
}
.affix .navbar .navbar-list .navbar-item a:hover {
  color: #2273f8 !important;
}
.affix .navbar .navbar-list .navbar-item .active {
  color: #2273f8 !important;
}

.xcontainer {
  max-width: 100%;
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.main-headline {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  color: #2273f8;
  margin-bottom: 0.5rem;
}

.main-paragraph {
  text-align: center;
  font-size: 14px;
  color: #555;
  line-height: 24px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.pr-2 {
  padding-right: 20px;
}

.c-white {
  color: white;
}

/* swiper */

.swiper-pagination-bullet-active {
  width: 20px !important;
  height: 6px !important;
  border-radius: 5px !important;
  background-color: #fff !important;
}
.swiper-pagination-bullet {
  background-color: #fff !important;
}

/* and swiper */

/* Animation of Smart Watch 'animation-jump' */

.animation-jump {
  position: relative;
  animation: animation-jump 2s ease-in-out infinite;
}

@keyframes animation-jump {
  0% {
    top: 3px;
  }
  50% {
    top: -3px;
  }
  100% {
    top: 3px;
  }
}

/* ----------------------- */
@media (max-width: 1200px) {
  .xcontainer {
    width: 1140px;
  }
}

@media (max-width: 1024px) {
  .xcontainer {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .xcontainer {
    width: 960px;
  }
}

@media (max-width: 768px) {
  .xcontainer {
    width: 720px;
  }
}

@media (max-width: 576px) {
  .xcontainer {
    width: 100%;
    padding: 0;
  }
  .row {
    flex-direction: column;
    margin: 0 !important;
  }
  .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
