* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.mt-4 {
  margin-top: 40px;
}

.xcontainer {
  max-width: 100%;
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

@media (max-width: 1200px) {
  .xcontainer {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .xcontainer {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .xcontainer {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .xcontainer {
    max-width: 540px;
  }
}
