.button {
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700;
    color: #2273f8;
    background-color: rgb(167, 61, 61);
    letter-spacing: 2px;
    font-size: 15px;
    outline: none;
    text-decoration: none;
}