@import "../variables.scss";

.video-area {
  width: 100%;
  position: relative;
  background-image: url(../../assets/img/video-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 90px 0 100px;
  margin-bottom: 400px;

  .video-overlay {
    background-color: rgba(34, 115, 248, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .video-content,
  .video-player {
    position: relative;
  }

  .video-content {
    h2 {
      text-align: center;
      font-weight: 800;
      font-size: 36px;
      color: #fff;
    }
    p {
      text-align: center;
      color: #ddd;
      font-size: 14px;
      margin: 0 0 50px;
    }

    .video-player {
      .pulse1 {
        position: absolute;
        width: 100px;
        height: 100px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        border: 3px solid rgba(255, 255, 255, 0.1);
        -webkit-animation: pulsejg1 1.3s linear infinite;
        animation: pulsejg1 1.3s linear infinite;
        border-radius: 999px;
        -webkit-box-shadow: inset 0px 0px 15px 10px rgb(0 0 0 / 60%);
        box-shadow: inset 0px 0px 15px 10px rgb(0 0 0 / 60%);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      .pulse2 {
        position: absolute;
        width: 100px;
        height: 100px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        opacity: 0;
        border: 1px solid rgba(255, 255, 255, 0);
        -webkit-animation: pulsejg2 0.9s linear infinite;
        animation: pulsejg2 0.9s linear infinite;
        border-radius: 999px;
        -webkit-box-shadow: inset 0px 0px 12px 5px rgb(255 255 255 / 80%);
        box-shadow: inset 0px 0px 12px 5px rgb(255 255 255 / 80%);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
}
