.header-section {
  background-image: url(https://themehoster.com/tf/html/tm/buten/demo/assets/images/banner-1.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  height: 100vh;
  position: relative;
  .header {
    width: 100%;
    z-index: 9;
    transition: all 0.5s ease-in-out;
    padding: 10px 0;
    .nav {
      width: 100%;
      transition: 0.5s ease-in-out;

      .mobile-navbar {
        display: none;
        position: absolute;
        content: "";
        right: -100%;
        width: 100%;
        height: 185vh;
        z-index: 12;
        top: -20px;
        background: rgb(18 53 124 / 76%);
        transition: 1s ease-in-out;

        &__list {
          position: absolute;
          content: "";
          top: 100px;
          left: 20px;
          font-weight: 600;
          .mobile-navbar__item {
            width: 250px;
            height: 35px;
            margin-bottom: 15px;
            .active {
              color: #131a48;
            }
            a {
              color: #fff;
              transition: all 0.7s ease;
              cursor: pointer !important;
              &:hover {
                color: #131a48;
              }
            }
          }
        }
      }

      .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0;

        .mobile-menu__icon {
          display: none;
          z-index: 13;
          svg {
            width: 30px;
            height: 30px;
          }
        }

        img {
          vertical-align: middle;
          border-style: none;
        }
        .navbar-list {
          display: flex;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          font-weight: 700;
          font-size: 15px;
          letter-spacing: 2px;
          .navbar-item {
            padding: 0 15px;
            .active {
              color: #131a48;
            }
            a {
              color: #fff;
              transition: all 0.7s ease;
              cursor: pointer !important;
              &:hover {
                color: #131a48;
              }
            }
          }
        }
      }
    }
  }
  .home-area {
    width: 100%;
    padding-top: 50px;

    .home-content {
      height: 100vh;
      padding-top: 50px;

      h1 {
        color: #fff;
        font-weight: 800;
        font-size: 56px;
        line-height: 66px;
      }
      p {
        color: #ddd;
        margin: 20px 0 10px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
      }
    }
    .home-img {
      img {
        max-width: 500px;
        margin-left: 55px;
      }
    }
  }
}
.activeMenu {
  transition: 1s ease-in-out !important;
  position: absolute !important;
  right: 0 !important;
}
.activeMenuIcon {
  svg {
    width: 35px;
    height: 35px;
    color: #fff;
  }
}

@media (max-width: 768px) {
  .header-section {
    overflow-x: hidden !important;
  }
  .navbar {
    img {
      width: 90px;
    }

    .navbar-list {
      letter-spacing: 0 !important;
      margin: 0 !important;

      .navbar-item {
        padding: 0 5px;
        a {
          font-size: 12px;
        }
      }
    }
  }
  .home-content {
    h1 {
      font-size: 40px !important;
      line-height: 50px !important;
    }
  }
  .home-img {
    img {
      max-width: 350px !important;
    }
  }
}

@media (max-width: 540px) {
  .header {
    padding: 0 !important;

    .mobile-navbar {
      display: block !important;
    }

    .navbar {
      justify-content: space-between !important;
      padding: 1rem !important;
      .mobile-menu__icon {
        display: block !important;
      }

      img {
        width: 100px;
        z-index: 13;
      }

      .navbar-list {
        display: none !important;
      }

      button {
        display: none !important;
      }
    }
  }
  .home-content {
    height: auto !important;
    .content-center {
      padding: 20px;
    }
    h1 {
      font-size: 30px !important;
      line-height: 40px !important;
      text-align: center;
    }
    p {
      text-align: center;
    }
    .mt-4 {
      margin: 0 !important;
      display: flex;
      justify-content: center;
    }
  }
  .home-img {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    img {
      margin: 0 !important;
    }
  }
}
