.product-area {
    padding: 90px 0 100px;
    .section-heading{
        max-width: 45%;
        margin: 0 auto;
    }
}

.product {
    border: 1px solid #eff0f1;
    padding: 35px 20px 45px;
    border-radius: 10px;
    background-color: #fafafa;
    text-align: center;
    margin-top: 55px;
    margin-right: 10px;
    &:last-child(){
        margin-right: 0;
    }
    h4 {
        font-weight: 800;
        color: #2273f8;
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 20px;
    }
    img {
        max-width: 200px;
        vertical-align: middle;
    }
    h2 {
        font-weight: 700;
        margin: 10px 0 20px;
        font-size: 30px;
        line-height: 40px;
    }
}